body {
  font-family: 'Montserrat-black', sans-serif;
}

h1 h2 h3 h4 h5 h6 {
  font-family: 'Montserrat-black', sans-serif;
  line-height: 1.5;
}

h2 {
  font-weight: bold;
  font-size: 3rem;
}

h1 {
  font-size: 3.5rem;
  font-weight: 900;
  color: white;
  position: relative;
  right: 7rem;
  bottom: 2rem;
}

/* heading */
big-heading {
  font-family: 'Montserrat-black', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  color: white;
  position: relative;
  right: 7rem;
  bottom: 2rem;
}

#title {
  background-color: #ff4c68;
}

.container-fluid {
  padding: 3% 10% 0;
}

.img-1 {
  position: relative;
  bottom: 2rem;
  left: 8rem;
  top: 6.5rem;
  width: 60%;
  transform: rotate(25deg);
}

/* feature */
.h3 {
  font-size: 1.5rem;
  font-family: 'Montserrat-black', sans-serif;
  font-weight: 545;
}

.p {
  font-size: 1rem;
  font-family: "Montserrat-light";
  color: #8f8f8f;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

#features {
  padding: 5rem 0;
  background-color: white;
  position: relative;
  bottom: 44px;
}

/* navigationbar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
  font-size: 1.2rem;
  font-family: "Montserrat-light"
}

/* download button */
.download-button {
  position: relative;
  right: 7rem;
  bottom: 2rem;
  margin: 5% 3% 5% 0;
}

/* testimonial section */
#testimonials {
  text-align: center;
  background-color: #ff4c68;
  color: white;
}

.img-2 {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ff4c68;
  text-align: center;
  padding-bottom: 3rem;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7rem 15rem;
}

/* pricing section */
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-col {
  padding: 3% 2%;
}

#cta {
  background-color: #ff4c68;
  text-align: center;
  color: white;
  padding: 7rem 15rem;
}

.cta-heading {
  font-family: 'Montserrat-black', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

.button {
  margin: 5% 3% 5% 0;
}

#footer {
  padding: 7rem 15rem;
  text-align: center;
}

.social {
  margin: 20px 10px;
}

@media (max-width:990px) {
  #title {
    text-align: center;
  }

  .img-1 {
    position: static;
    transform: rotate(0);
  }

  h1 {
    position: relative;
    left: 1rem;
  }

  .download-button {
    position: relative;
    left: 1rem;
  }
}
